

body{
    margin: 100px;
    font-family: Arial;
}

.container{
    margin: 0 auto;
    max-width: 500px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 48px 40px;
}
h1{
    text-align: center;
}

.inputField, .password{
    position: relative;
    width: 100%;
    margin: 15px;
}

.inputField > input, .password > input{
    box-sizing: border-box;   
    width: 100%;
    font-size: 18px ;
    padding: 15px 13px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid lightgray;
    position: relative;
    
}

label{
    position: absolute;
    top:15px;
    left:13px;
    font-size: 18px;
    color: grey;
    pointer-events: none;
    transition-delay: 0ms;
    transition-duration: 300ms;
    transition-timing-function: ease-all;
}

input:focus{
    outline:none;
    border: 2px solid #1a73e8;
}

.shrink{
    font-size: 12px;
    padding: 1px 4px;
    top:-7px;
    left:10px;
    color:#1a73e8;
    background-color: white;
}
.emailInvalid{
    display: flex;
    font-weight: 600;
}

.material-icons, .invalid{
    margin:0;
    color: red;
    font-size: 14px;
    margin:1px;
}

.material-icons{
    font-weight: 600;
    margin: 2px;
}

p{
    font-size: 15px;
    color: #1a73e8;
    font-weight: 600;
}
