

body{
    margin: 100px;
    font-family: Arial;
}

.container{
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    min-height: 400px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 48px 40px;
}

.logo{
    min-width: 100px;
    min-height: 100px;
    background-color: whitesmoke;
    border: 5px solid #1a73e8;
    box-shadow: inset 0px 0px 2px 3px lightgrey;
    border-radius: 50%;
    position: absolute;
    top: -55px;
    left: 40%;
}

.logo > svg{
    transform: scale(4) translate(9.5px, 8px);
}

h1{
    color: #212F3D;
    text-align: center;
}

.inputField{
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.password{
    position: relative;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 50px;
}

.inputField > input{
    box-sizing: border-box;   
    width: 100%;
    font-size: 18px ;
    padding: 15px 13px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid lightgray;    
}

.box{
    display: flex;
}

.box > input{
    
    box-sizing: border-box;   
    width: 93%;
    font-size: 18px ;
    padding: 15px 13px;
    font-size: 16px;
    position: relative;
    border:none;

}

svg{
    transform: translateY(12px);
}

label{
    position: absolute;
    top:15px;
    left:13px;
    font-size: 18px;
    color: grey;
    pointer-events: none;
    transition-delay: 0ms;
    transition-duration: 300ms;
    transition-timing-function: ease-all;
}
input:focus{
    outline: none;
}

.inputField > input:focus{
    border: 2px solid #1a73e8;
}

.shrink{
    font-size: 12px;
    padding: 1px 4px;
    top:-7px;
    left:10px;
    color:#1a73e8;
    background-color: white;
}
.emailInvalid{
    display: flex;
    font-weight: 600;
}

.warning, .invalid{
    margin:0;
    color: red;
    font-size: 14px;
    margin:1px;
}

.material-icons{
    font-weight: 600;
    margin: 2px;
}

.forgetEmail{
    margin: 40px 0px;
    font-size: 15px;
    color: #1a73e8;
    font-weight: 600;
}

.visible {
     color: green;
     border-color: red;
}

button{
    background-color: #1a73e8;
    border-radius: 4px;
    color:white;
    font-size: 14px;
    outline:none;
    border: none;
    cursor: pointer;
    min-width: 88px;
    min-height: 35px;
    float: right;
    margin-bottom: 40px;
}

button:hover{
    background-color: royalblue;
}